<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exhibitions</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <script defer src="../static/script.js"></script>
</head>

<body onload="addYear()">

    <div class = "container">
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">

        <nav class="nav_bar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./explore.html">Explore</a></li>
                <li><a href="./exhibitions.html">Exhibitions</a></li>
                <li><a href="./tickets.html">Buy Tickets</a></li>
                <li><a href="./checkout.html">Checkout</a></li>
            </ul>

        </nav>

        <footer class = "footer">
            <p id="copyYear"></p>
        </footer>
    </div>

</body>

</html>